<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Voodoospark by voodootikigod</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>VoodooSpark</h1>
        <p>A RPC-over-TCP firmware for the <a href="https://www.spark.io/">Spark Core</a>.<br/>It's like being connected, but without the wire!</p>
        <p class="view"><a href="https://github.com/voodootikigod/voodoospark">View the Project on GitHub <small>voodootikigod/voodoospark</small></a></p>
        <ul>
          <li><a href="https://github.com/voodootikigod/voodoospark/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/voodootikigod/voodoospark/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/voodootikigod/voodoospark">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{content}}
      </section>
    </div>
    <footer>
      <p>Another improbable thing from <a href="https://github.com/voodootikigod">@voodootikigod</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>